body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', serif;
}

a {
	text-decoration: none;
	color: #000;
}

section {
	max-width: 90%;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.top-container {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-auto-flow: row;
	width: 100%;
	margin-top: 40px;
}

.top-search-block {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}



 /* text field start*/
.text-field {
	margin-left: 5px;
}

.text-field__label {
	display: block;
	margin-bottom: 0.25rem;
}

.text-field__input_sidebar {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid #e5e5e5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__icon .text-field__input_sidebar {
    padding-right: 2.5rem;
}

.text-field__input {
	display: block;
    width: 100%;
    height: 48px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffffe0;
    border-radius: 2px;
    backdrop-filter: blur(5px);
    border: 2px solid #d9d9d9;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0px 0px 7px 0px rgb(255 255 255);
    appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
    .text-field__input[type="search"]::-webkit-search-cancel-button,
    .text-field__input[type="search"]::-webkit-search-results-button,
    .text-field__input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.text-field__input::placeholder {
	color: #212529;
	opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0px 0px 7px 0px rgb(158 158 158 / 40%);
}

.text-field__input_sidebar:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0px 0px 7px 0px rgb(158 158 158 / 40%);
}
 

.text-field__input:disabled,
    .text-field__input[readonly] {
	background-color: #f5f5f5;
	opacity: 1;
}

    /* active icon - 1 вариант */
.text-field__icon {
	position: relative;
}

.text-field__icon .text-field__input {
	padding-right: 2.5rem;
	padding-left: 125px;
}

.text-field__aicon {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	right: 1rem;
	width: 1rem;
	cursor: pointer;
	color: #bdbdbd;
	transition: color 0.15s ease-in-out;
}

.text-field__aicon:hover {
	color: #212529;
}

.text-field_icons {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 15px;
    cursor: pointer;
    color: #bdbdbd;
    transition: color 0.15s ease-in-out;
}

.text-field_icons_left {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 15px;
	cursor: pointer;
	color: #bdbdbd;
	transition: color 0.15s ease-in-out;
}

.text-field_icons:hover {
	color: #212529;
}

.messenger-functions {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    padding: 1rem 0.75rem;
    color: #212529;
    background-color: #ffffffe0;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    border: 1px solid #d9d9d9;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0px 0px 7px 0px rgb(255 255 255);
}

.message-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    align-content: flex-start;
}  

.message-reply {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.message-reply-img {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mes-product-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2em;
}

.mes-product-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3em;
}

.message-btn-predlozhit, .message-btn-zakaz {
background-color: rgba(256,256,256,0);
border: 0;
font-size: 14px;
font-weight: 500;
font-family: inherit;
padding: 0;
cursor: pointer;
}

.message-btn-predlozhit:hover, .message-btn-zakaz:hover {
    font-weight: 600;
    }

div.vertical-line {
    width: 2px;
    display: inline-block;
    margin: 0 3px;
    background-color: black;
    height: 10px;
  }

.close-message-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 25px;
    cursor: pointer;
}

/* text field end*/   

/* accordeon */

ul#menu, ul#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 15px 0;
}

ul#menu ul {
	display: none;
}

ul#menu li.selected ul {
	display: block;
}

ul#menu a {
	display: block;
	text-decoration: none;
}

ul#menu li {
	margin-top: 1px;
}

ul#menu li a img {
	vertical-align: middle;
	padding: 0 5px 5px 0;
}

ul#menu li a {
	padding: 7px 0;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	font-size: 14px;
}

ul#menu li a:hover {
	font-weight: 600;
}

ul#menu li ul li a {
	color: #000;
	padding-left: 20px;
}

ul#menu li ul li a:hover {
	padding-left: 25px;
	cursor: pointer;
}

ul#menu li > ul li a:after {
	content: '';
}

.deactive:after {
	content: '\002B';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

/* accordeon end */

.menu-btn {
    width: 37px;
    margin-left: auto;
    margin-right: auto;
    height: 37px;
    padding: 6px;
    background-color: #f1f1f133;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #f1f1f1;
}

.search-btn, .dots-btn {
	width: 28px;
    height: 25px;
	cursor: pointer;
}

.send-message-btn, .attach-btn, .emoji-btn {
	width: 28px;
}

.attach-btn, .emoji-btn {
	padding-right: 5px;
}

.tags-wrapper a {
	color: #19368B;
    margin-right: 5px;
    font-weight: 500;
    font-size: 12px;
}

.tags-wrapper a:hover {
	color: #444;
}


/* Messenger */

.messenger-fixed {
	bottom: 15px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 990;
}

.messenger-block {
	margin-left: 24%;
    margin-right: -1%;
    padding-left: 20px;
}

.messenger-fixed  .text-field__icon {
    border-radius: 5px;
}

/* Messenger end*/

/* Breadcrumb */

.top-breadcrumb {
	margin-left: 20px;
	display: grid;
    grid-template-columns: 85% 15%;
    grid-auto-flow: row;
    width: 100%;
}

ul.breadcrumb { 
    margin: 0;
    padding: 0;
}
ul.breadcrumb li {
    display: inline-block;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px; 
	font-weight: 600;     
}
ul.breadcrumb li:last-of-type:before, 
ul.breadcrumb li:last-of-type:after { 
    display: none; 
}
ul.breadcrumb li a { 
    color: #1A3688;
    text-decoration: none;
    transition: all 0.3s;
}
ul.breadcrumb li a:hover { 
    color: #1A3688;
}

.group-description {
	font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
    color: #BDBDBD;	
}

.top-breadcrumb-btn {
	display: flex;
    align-items: center;
    height: auto;
    justify-content: end;
}
/* Breadcrumb end */

/* Post */

.content {
	margin-left: 20px;
}

.post-wrapper {
	display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-flow: row;
    width: 100%;
    margin-bottom: 30px;
}	

.post-author, .post-author a {
	font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
	color: #BDBDBD;
}

.post-img {
	height: 350px;
    width: 100%;
    object-fit: cover;
	margin-top: 10px;
    border-radius: 5px;
}

.post-image-block {
padding-right: 20px;
}

.post-description {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 91%;
    align-content: center;
}

.post-descriprion-block h3 {
	font-weight: 700;
    font-size: 16px;
    line-height: 1.4em;
    color: #000000;
    margin: 5px 0 0 0;
    padding: 0;
}

.post-descriprion-block p {
	font-weight: 500;
    font-size: 14px;
    line-height: 1.4em;
    color: #000000;
    margin: 10px 0 0 0;
}

.post-date-block {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-price {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.4em;
	margin-bottom: 10px;
}

.old-price {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4em;
	text-decoration-line: line-through;
	padding-right: 10px;
}


.tocart {
	background-color: #1A3688;
    border: none;
    color: white;
    padding: 9px 16px;
    font-size: 14px;
    cursor: pointer;
    text-transform: none;
    width: 100%;
    font-family: 'Montserrat', serif;
    font-weight: 500; 
}


.tocart:hover {
    background-color: #1A3688;
}

/* New product */
.product-container {
    display: grid;
    grid-template-columns: 4% 10% 56% 30%;
    grid-auto-flow: row;
    width: 100%;
    margin: 30px 0px;
    align-items: center;
}

.pr-img {
    text-align: center;
}

.pr-img img {
    width: 80%;
}

.pr-description-container {
    padding: 0px 10px;
}

.pr-heading {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    font-size: 16px;
    font-weight: 600;
}

.pr-comments-number {
    position: absolute;
    margin: -15px 0 0 0;
    font-size: 12px;
    font-weight: 400;
}
	
/* New product Add */
.n_p_head {
    display: grid;
    grid-template-columns: 30% 22% 25% 20%;
    grid-auto-flow: row;
    gap: 1%;
    margin-bottom: 10px;
}

.n_p_foot {
    display: grid;
    grid-template-columns: 74% 25%;
    grid-auto-flow: row;
    gap: 1%;
}

.container-new-product {
    position: relative;
    margin-bottom: 20px;
}

.n_p_foot_btn_add {
    border: 1px solid #1A3688;
    background-color: #ffffff00;
    font-family: inherit;
    color: #1A3688;
    width: 100%;
    line-height: 1.3em;
    font-size: 12px!important;
    padding: 10px 0px;
}

.n_p_foot_btn_add:hover {
    background-color: #1A3688;
    color: #fff;
    transition: .3s;
}

.n_p_category {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #1A3688;
}

.n_p_breadcrumb {
    background: #D9D9D9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #1A3688;
}

.n_p_more {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #1A3688;
}
/* End */

/* New Group */
.container-new-group {
    position: relative;
    margin-bottom: 20px;
}

.n_g_head {
    display: grid;
    grid-template-columns: 74% 25%;
    grid-auto-flow: row;
    gap: 1%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.text-field__input_group_name { 
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px!important;
    border: none!important;
    background-color: #fff0!important;
}

.n-g-members {
font-weight: 500;
font-size: 14px;
}

.n-g-members-tag {
    background: #D9D9D9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 3px;
    margin-left: 3px;
    line-height: 10px;
    color: #1A3688;
}

.n-g-members-add {
    color: #888;
    font-weight: 400;
    font-style: italic;
    margin-left: 7px;
    padding: 0;
    background-color: #fff0;
    text-transform: capitalize;
    font-size: 14px!important;
}

.n-g-members-add:hover {
    color: #222;
    background-color: rgba(255, 255, 255, 0);
}

.n-g-comments {
    color: #1A3688;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
/* End */

/* Groups List */
.item-proekt-chat h2 {
    font-size: 16px;
}

.p_c_item_container li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.p_c_gorups-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
} 
/* End */